nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 150px;
}

nav a:hover {
    color: var(--very-dark-violet);
}

.navbar-items {
    display: flex;
    align-items: center;
}

.navbar-logo {
    margin-right: 20px;
}

.navbar-items > a {
    margin: 0 20px;
    padding: 0 !important;
}

.navbar-items > a,
.navbar-button {
    color: var(--grayish-violet);
    padding: 10px;
    font-weight: 700;
    font-size: .9rem;
}

.navbar-authentication-buttons {
    display: flex;
    justify-content: center;
}

.login {
    margin-right: 30px;
}

.signup {
    background: var(--cyan);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
}

.signup:hover {
    color: white;
}
